{% extends 'components/tehnicianbase.html' %}
{% block content %}
{% load static %}
	<!-- main content -->
	<div class="wrapper">

<!-- ****** table  start ********** -->
		<div class="row">
			<div class="col-12 col-m-12 col-sm-12">
				<div class="card">
					<div class="card-header">
						<h3 style="color:red; text-align:center" >Repere de reparat si Update de status
						</h3>

					</div>
					<div class="card-content">
						<table>
							<thead>
                <tr>
                  <th>Nume reper</th>
                  <th>Categorie</th>
                  <th>Numar</th>
                  <th>Model</th>
                  <th>Brand</th>
                  <th>Descrierea problemei</th>
                  <th>Status</th>
                  <th>Update Status</th>
                </tr>
							</thead>
							<tbody>
              {% for w in works %}
                <tr>
                  <td> {{w.reper_name}}</td>
                  <td> {{w.category}}</td>
                  <td> {{w.reper_no}}</td>
                  <td> {{w.reper_model}}</td>
                  <td> {{w.reper_brand}}</td>
                  <td> {{w.problem_description}}</td>
                  <td>{{w.status}}</td>
                  <td><a  style="color:blue; text-decoration:none;font-size:25px;" href="{% url 'mechanic-update-status' w.id  %}">&#9998;</a></td>
                </tr>
                {% endfor %}

							</tbody>
						</table>
					</div>
				</div>
			</div>
		</div>
<!-- ****** table start ********** -->
<br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br>
	</div>
	<!-- end main content -->
{% endblock content %}
